<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- entityFramework section -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

    <!-- Connection String - TRÙNG TÊN VỚI DbContext -->
    <connectionStrings>
        <add name="BookstoreConnection" connectionString="Server=.\SQLEXPRESS;Database=BookstoreDB;Trusted_Connection=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <!-- Các biến toàn cục cho toàn chương trình -->
    <appSettings>
        <add key="AppName" value="Quan ly thu vien"/>
        <add key="Version" value="1.0.0"/>
    </appSettings>

    <!--  entityFramework configuration -->
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>

</configuration>
