<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <!-- Connection String cho CSDL, sử dụng local   -->
    <connectionStrings>
        <add name="DefaultConnection"
             connectionString="Server=localhost;Database=...;Trusted_Connection=true;" />
    </connectionStrings>
    
    <!-- Các biến toàn cục cho toàn chương trình -->
    <appSettings>
        <add key="AppName" value="Quan ly thu vien" /> 
        <add key="Version" value="1.0.0" />
    </appSettings>
    
</configuration>